{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>About Me</h1>
    <p>안녕하세요, 저는 개발을 좋아하는 주니어 SW 엔지니어입니다.</p>
    <h2>My Tech Stack</h2>
    <ul>
        <li><strong>Languages:</strong> Python, C, C++, Java, JavaScript, TypeScript</li>
        <li><strong>Frameworks:</strong> Flask, React</li>
        <li><strong>Tools:</strong> AWS, Docker, Git, GitHub</li>
    </ul>
    <h2>Contact</h2>
    <ul>
        <li><strong>Email:</strong> <a href="mailto:tommya98@naver.com">tommya98@naver.com</a></li>
        <li><strong>GitHub:</strong> <a href="https://github.com/Seokhun" target="_blank">https://github.com/Seokhun</a></li>
    </ul>
</div>
{% endblock %}
